* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
}

.container {
  background-color: #0a0a0a;
  border-radius: 5px;
  max-width: 700px;
  margin: 1rem auto 0 auto;
  height: 500px;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-top: 1rem;
  color: #ca9c9c;
}

form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  padding: 1rem 0;
}

form input {
  width: 40%;
  height: 70px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0 10px;
  outline: none;
}

::placeholder {
  font-size: 24px;
  font-weight: 700;
  color: #ddd;
  padding-left: 10px;
}

form button {
  width: 30%;
  height: 70px;
  background-color: #ff6b6b;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}
